<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/APIAutomationFramework">
        <classes>
         <!--   <class name="org.example.actions.crud.TCIntegrationFlow">
                <methods>
                    <include name="testCreateBooking"/>
                    <include name="testVerifyBookingId"/>
                    <include name="testUpdateBookingByID"/>
                    <include name="testDeleteBookingById"/>
                </methods>
            </class> -->
            <class name="org.example.actions.crud.testCreateBookingTCPost">
                <methods>
                    <include name="testVerifyCreateBookingPOST01"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>